.btn-dumbways {
    background-color: #EC4D37;
    color: white;
}

.btn-dumbways:hover {
    color: #EC4D37;
    background-color: white;
    border: 1px solid #EC4D37;
}

textarea {
    resize: none;
}

.btn-primary {
    background-color:
        orangered !important;
}

.btn-primary:hover {
    background-color: orangered !important;
}

.active {
    color: orangered !important;
    font-weight: bold;
}