.container {
    display: flex;
}

.container-item-1 {
    flex: 50%;
    background-color: red;
}
.container-item-2 {
    flex: 50%;
    background-color: green;
}


@media screen and (max-width:500px) {
    .container {
        flex-direction: column;
    }

    h1 {
        display: none;
    }
}